<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{site.twitter_user}}">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{site.title}} - {{page.title}}: {{page.description}}">
<meta name="twitter:creator" content="{{site.twitter_user}}">

<meta property="og:title" content="{{page.title}}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{site.url}}{{page.url}}">
<meta property="og:description" content="{{site.title}} - {{page.title}}: {{page.description}}">
<meta property="og:site_name" content="{{site.title}}">
<meta property="article:publisher" content="{{site.social.facebook}}">

{% if page.cover %}
  {% assign coverImagePath = site.url | append: site.baseurl | append: page.cover %}
{% else %}
  {% assign coverImagePath = site.url | append: site.baseurl | append: "/assets/covers/cover.jpg" %}
{% endif %}

<meta name="twitter:image" content="{{coverImagePath}}">
<meta property="og:image" content="{{coverImagePath}}">
