<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
    {% include analytics.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div id="main-div">
      {% if page.cover %}
        <div id="post-image-header">
          <img src={{site.baseurl}}{{ page.cover }}>
        </div>
      {% endif %}
      <div id="post">
        <div class="post-title">{{ page.title }}</div>
        <!-- <div class="post-date">{{ page.date | date: "%d %B %Y" }}</div> -->
        <content>
          {{ content }}
          {% include swipebox.html %}
        </content>
      </div>
    </div>
  </body>
</html>
